<div class="byob-mobile-dynamic-components--wrapper medium-up--hide">
    <div class="byob-mobile-dynamic-filter-wrapper">
        <div class="byob-filter-by-color-container">
            <div class="byob-filter-by-color">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.47814 13.125C7.47814 12.9592 7.5438 12.8003 7.66067 12.6831C7.77754 12.5658 7.93605 12.5 8.10132 12.5H11.8404C12.0057 12.5 12.1642 12.5658 12.2811 12.6831C12.3979 12.8003 12.4636 12.9592 12.4636 13.125C12.4636 13.2908 12.3979 13.4497 12.2811 13.5669C12.1642 13.6842 12.0057 13.75 11.8404 13.75H8.10132C7.93605 13.75 7.77754 13.6842 7.66067 13.5669C7.5438 13.4497 7.47814 13.2908 7.47814 13.125ZM4.98541 9.375C4.98541 9.20924 5.05106 9.05027 5.16793 8.93306C5.2848 8.81585 5.44331 8.75 5.60859 8.75H14.3332C14.4984 8.75 14.6569 8.81585 14.7738 8.93306C14.8907 9.05027 14.9563 9.20924 14.9563 9.375C14.9563 9.54076 14.8907 9.69973 14.7738 9.81694C14.6569 9.93415 14.4984 10 14.3332 10H5.60859C5.44331 10 5.2848 9.93415 5.16793 9.81694C5.05106 9.69973 4.98541 9.54076 4.98541 9.375ZM2.49268 5.625C2.49268 5.45924 2.55833 5.30027 2.6752 5.18306C2.79207 5.06585 2.95058 5 3.11586 5H16.8259C16.9912 5 17.1497 5.06585 17.2665 5.18306C17.3834 5.30027 17.4491 5.45924 17.4491 5.625C17.4491 5.79076 17.3834 5.94973 17.2665 6.06694C17.1497 6.18415 16.9912 6.25 16.8259 6.25H3.11586C2.95058 6.25 2.79207 6.18415 2.6752 6.06694C2.55833 5.94973 2.49268 5.79076 2.49268 5.625Z" fill="#36414C"/>
                </svg>
                Filter By Color
            </div>
            <div class="byob-color-swatches-container byob-filters--wrapper">
                <div class="tags byob-tags">
                    <ul class="byob-color--list byob-color-swatches-slider">{{ filter_html }}</ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('.byob-color-swatches-slider').slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            arrows: true,
            dots: false,
            prevArrow:"<button type='button' class='slick-prev pull-left'><svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='8' cy='8' r='8' fill='#3E4B57'/><path d='M10 4L6 8L10 12' stroke='white'/></svg></button>",
            nextArrow:"<button type='button' class='slick-next pull-right'><svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'><circle cx='8' cy='8' r='8' transform='rotate(-180 8 8)' fill='#3E4B57'/><path d='M6 12L10 8L6 4' stroke='white'/></svg></button>",
            infinite: true  
        });
        $('.byob-filter-by-color').click(function() {
            $('.byob-filter-by-color-container').css('height', '101px');
            $('.byob-color-swatches-container').css('opacity', '1');
        });
        $(window).bind('scroll', function() {
            if ($(window).scrollTop() > 60) {
                $('.byob-mobile-dynamic-components--wrapper').addClass('byob-sticky');
                $('.byob-filter-by-color-container').css('height', '101px');
                $('.byob-color-swatches-container').css('opacity', '1');
            } else {
                $('.byob-mobile-dynamic-components--wrapper').removeClass('byob-sticky');
                $('.byob-filter-by-color-container').css('height', '46px');
                $('.byob-color-swatches-container').css('opacity', '0');
            }
        });
        let lastScroll = $(window).scrollTop();
        $(window).scroll(function() {
            const currentScroll = $(window).scrollTop(); 
            if (currentScroll > lastScroll){
                // scroll down
                $('.byob-mobile-link-list--wrapper').css('display', 'none');
                $('.byob-filter-by-color-container').css('height', '101px');
                $('.byob-color-swatches-container').css('opacity', '1');
            } else {
                // scroll up
                $('.byob-mobile-link-list--wrapper').css('display', 'block');
                $('.byob-filter-by-color-container').css('height', '46px');
                $('.byob-color-swatches-container').css('opacity', '0');
            }
            // scroll update
            lastScroll = currentScroll <= 0 ? 0 : currentScroll;
        });
    });
</script>