<!--go cart modal fail-->
<div class="go-cart__modal go-cart__modal--fail js-go-cart-modal-fail">
    <div class="go-cart-modal">
        <!--go cart modal close-->
        <div class="go-cart-modal__close js-go-cart-modal-fail-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                <path d="M15.89 14.696l-4.734-4.734 4.717-4.717c.4-.4.37-1.085-.03-1.485s-1.085-.43-1.485-.03L9.641 8.447 4.97 3.776c-.4-.4-1.085-.37-1.485.03s-.43 1.085-.03 1.485l4.671 4.671-4.688 4.688c-.4.4-.37 1.085.03 1.485s1.085.43 1.485.03l4.688-4.687 4.734 4.734c.4.4 1.085.37 1.485-.03s.43-1.085.03-1.485z"></path>
            </svg>
        </div>
        <!--end go cart modal close-->
        <!--go cart modal content-->
        <div class="go-cart-modal__content js-go-cart-modal-fail-content">
            Something went wrong, please contact us!
        </div>
        <!--end go cart modal content-->
    </div>
</div>
<!--end go cart modal fail-->

<!--go cart modal-->
<div class="go-cart__modal js-go-cart-modal">
    <div class="go-cart-modal">
        <!--go cart modal close-->
        <div class="go-cart-modal__close js-go-cart-modal-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                <path d="M15.89 14.696l-4.734-4.734 4.717-4.717c.4-.4.37-1.085-.03-1.485s-1.085-.43-1.485-.03L9.641 8.447 4.97 3.776c-.4-.4-1.085-.37-1.485.03s-.43 1.085-.03 1.485l4.671 4.671-4.688 4.688c-.4.4-.37 1.085.03 1.485s1.085.43 1.485.03l4.688-4.687 4.734 4.734c.4.4 1.085.37 1.485-.03s.43-1.085.03-1.485z"></path>
            </svg>
        </div>
        <!--end go cart modal close-->
        <!--go cart modal content-->
        <div class="go-cart-modal__content js-go-cart-modal-content"></div>
        <!--end go cart modal content-->
        <!--go cart modal buttons-->
        <div class="go-cart-modal__buttons">
            <a class="go-cart__button js-go-cart-modal-close">
                Continue shopping
            </a>
            <a href="/cart/" class="go-cart__button">
                View cart
            </a>
        </div>
        <!--end go cart modal buttons-->
    </div>
</div>
<!--end go cart modal-->

<!--go cart drawer-->
<div class="go-cart__drawer js-go-cart-drawer">
    <div class="go-cart-drawer">
        <!--go cart drawer close-->
        <div class="go-cart-drawer__header">
            <span class="title-cart">Cart</span>
            <div class="go-cart-drawer__close js-go-cart-drawer-close">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.94006 6.99999L13.4667 1.47332C13.5759 1.34579 13.633 1.18174 13.6265 1.01396C13.6201 0.846172 13.5505 0.687012 13.4318 0.568283C13.313 0.449553 13.1539 0.379998 12.9861 0.373517C12.8183 0.367036 12.6543 0.424107 12.5267 0.533325L7.00006 6.05999L1.4734 0.526658C1.34786 0.401122 1.1776 0.330597 1.00006 0.330597C0.822529 0.330597 0.652266 0.401122 0.52673 0.526658C0.401194 0.652194 0.330669 0.822457 0.330669 0.999991C0.330669 1.17753 0.401194 1.34779 0.52673 1.47332L6.06006 6.99999L0.52673 12.5267C0.456942 12.5864 0.400262 12.66 0.360247 12.7427C0.320231 12.8254 0.297744 12.9155 0.294198 13.0073C0.290652 13.0991 0.306122 13.1907 0.339638 13.2762C0.373155 13.3618 0.423994 13.4395 0.488963 13.5044C0.553933 13.5694 0.631631 13.6202 0.717181 13.6537C0.802731 13.6873 0.894286 13.7027 0.986099 13.6992C1.07791 13.6956 1.168 13.6732 1.25071 13.6331C1.33342 13.5931 1.40697 13.5364 1.46673 13.4667L7.00006 7.93999L12.5267 13.4667C12.6543 13.5759 12.8183 13.6329 12.9861 13.6265C13.1539 13.62 13.313 13.5504 13.4318 13.4317C13.5505 13.313 13.6201 13.1538 13.6265 12.986C13.633 12.8182 13.5759 12.6542 13.4667 12.5267L7.94006 6.99999Z" fill="#414B56"/>
                </svg>
            </div>
        </div>
        {%- comment -%}
            <div class="go-cart-drawer__gamification">
                <div class="go-cart-drawer__gamification--wrapper">
                    <div class="gamification-container" id="freeShippingPromo">
                        You're <span class="goal"></span> away from <span>FREE SHIPPING</span> 
                    </div>
                    <div class="gamification-container hide" id="freeShippingReached">
                        You qualify for <span>FREE SHIPPING</span> 
                    </div>
                </div>
            </div>
        {%- endcomment -%}
        <div class="go-cart-drawer__welcome-back-container hidden">
            <div class="go-cart-drawer__welcome-back-spacer"></div>
            <div class="go-cart-drawer__welcome-back"> 
                <p class="welcome-back-title">Welcome Back!</p>
                <p class="welcome-back-subtitle">We saved your cart (<span class="welcome-back-item-count"></span>)</p>
            </div>
        </div>
        <!--end go cart drawer close-->
        <!--go cart drawer content-->
        <div class="go-cart-drawer__content js-go-cart-drawer-content"></div>
        <!--end go cart drawer content-->
        <!--go cart drawer subtotal-->
        <div class="go-cart-drawer__subtotal">
            <span>Subtotal: </span>
            <span class="go-cart-drawer__subtotal-price js-go-cart-drawer-subtotal"></span>
        </div>
        <!--end go cart drawer subtotal-->
        <div class="go-cart-afterpay">
            <afterpay-placement class="afterpay-placement" data-locale="en_US" data-amount="{{cart.subtotal}}"></afterpay-placement>
        </div>
        <!--go cart drawer buttons-->
        <div class="go-cart-drawer__footer js-go-cart-drawer-footer">
            <a href="/checkout/" class="go-cart__button">Continue to checkout</a>
            <div class="continue-shopping-abandon hidden"><p >Continue shopping</p></div>
            {%- comment -%}
                Express Payment Buttons
                <div class="content-or"><p>OR</p></div>
                {% if additional_checkout_buttons %} 
                    <div class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</div>
                {% endif %}
            {%- endcomment -%}
        </div>
        <div class="go-cart-drawer__upsell">
            <div class="go-cart-drawer__upsell--wrapper">
                <h4>Recently Viewed</h4>
                {% include 'upsell-sidecart' %} 
            </div>
        </div>
        <!--end go cart drawer buttons-->
    </div>
</div>
<!--end go cart drawer-->
{%- comment -%}
    <!-- go cart overlay -->
    <div class="go-cart__overlay js-go-cart-overlay"></div>
    <!-- END: go cart overlay -->
{%- endcomment -%}